# Dependencies
node_modules/
npm-debug.log*

# Database
*.db
*.sqlite
*.sqlite3

# Lock files
package-lock.json
yarn.lock

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log